{#{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
#}

{% block mark_table_widget %}

    {% set debug=false %}

    {% if debug %}

    {% endif %}

    {% if (debug) or (value is empty) or (value['subjects'] is empty) or (value['students'] is empty) %}
        <h3>{{ "Table doesn't exists!" }}</h3>
    {% else %}
        <div class="box box-success">
         <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-striped">
            <thaad><tr class="sonata-ba-list-field-header">
                <th style="font-size: large" >{{ 'Student Name' }}</th>
                <th style="font-size: large" > {{ 'B/K' }} </th>
                {% for subject in value['subjects']%}
                    <th> {{ subject }} </th>
                {% endfor %}
                <th style="font-size: large" >{{ "Avarage" }}</th>
                <th style="font-size: large" > {{ "Notation" }} </th>
            </tr><thead />
            <tbody>

            <datalist id="markChoice">
                {% for grade in [1, 2, 3, 4, 5] %}
                    <option>{{ grade }}</option>
                {% endfor %}
            </datalist>

            {% for studentId, student in value['students'] %}
                <tr>
                    <td> {{ student }} </td>
                    <td><b> {{ value['bk'][studentId] | upper }} </b></td>
                    {% for subjectId, subject in value['subjects'] %}
                        <td>
                            {% set id_namePostfix = ['marks', studentId, subjectId] %}
                            {% set showValue=false %}
                            {% if (value.marks is not empty) and (value.marks[studentId] is defined) and (value.marks[studentId][subjectId] is defined) %}
                                {% set showValue=true %}
                            {% endif %}
                                <input style="font-size: large;" class="form-control" size="12" list="markChoice" {{ block('id_name') }} type="text" {% if showValue %}value="{{ value['marks'][studentId][subjectId] }}" {% endif %} />
                        </td>
                    {% endfor %}
                    <td><b> {{ "" }} </b></td>
                    <td><b> {{ value['notation'][studentId] }} </b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table></div></div>
        {# <input type="text", value="{{ value }}" /> #}
    {% endif %}
{% endblock %}


{% block id_name %}
    {% set name_keys = '' %}
    {% set id_keys = '' %}
    {% for key in id_namePostfix %}
        {% set name_keys = name_keys~'['~key~']' %}
    {% endfor %}
    {% for key in id_namePostfix %}
        {% set id_keys = id_keys~'_'~key %}
    {% endfor %}
    id="{{ id }}{{ id_keys }}" name="{{ full_name }}{{ name_keys }}"
{% endblock %}



{# SonataAdminBundle:CRUD/edit_text.html.twig #}
{# {% block body %}
    {% for student in students %}
        {%  include('SonataAdminBundle:CRUD/edit_text.html.twig', {'field_element' : student %}
    {% endfor %}
{% endblock %}


{% block field %}
    {{ value|raw }}
{% endblock %}

#}